<div class="container">
    <div class="form">
        <div *ngFor="let item of questionList;let i =index">
            <div>{{item.title}} <span *ngIf="item.isrequied">*</span></div>
            <ng-container *ngIf="item.questionType === questionTypeEnum.ParagraphAnswer;else isCheckbox">
                <app-textarea (description)="description($event, i)"></app-textarea>
            </ng-container>
            <ng-template #isCheckbox>
                <app-languages [language]="item">
                </app-languages>
            </ng-template>
            <br />
        </div>
        <mat-dialog-actions class="action">
            <button mat-raised-button (click)="addNewQuestion()">Add New Question</button>
            <button mat-raised-button (click)="reviewMyAnswers()"> Review my answers ></button>
        </mat-dialog-actions>

    </div>
</div>