@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin title ($font-size) {
    font-size: $font-size;
    font-weight: bold;
}