@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

.form {
    padding: 10px;
    border: 1px solid $primary;
    max-width: 500px;
    margin: 100px auto;

    mat-form-field {
        width: 100%;
    }

    .title {
        @include title(15);
    }
}