<form [formGroup]="formGroup" (ngSubmit)="submitForm()">

    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="formGroup.get('title')?.hasError('required')">
            Title is required
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Question Type</mat-label>
        <mat-select formControlName="questionType">
            <mat-option *ngFor="let item of questionTypes | enumToArray" [value]="item.key">{{ item.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('questionType')?.hasError('required')">
            Title is required
        </mat-error>
    </mat-form-field>

    <div formArrayName="answerArray">
        <mat-form-field *ngFor="let languageControl of answerArray.controls; let i = index">
            <input placeholder="Add Answer Option" matInput type="text" [formControlName]="i" required>
        </mat-form-field>
    </div>

    <button [disabled]="isCheckBoxList" type="button" (click)="addAnswer()">Add another answer</button>

    <div>
        <mat-checkbox class="example-margin">Allow user to specify their own answer</mat-checkbox>
    </div>

    <div>
        <mat-checkbox class="example-margin">This field is required</mat-checkbox>
    </div>

    <mat-dialog-actions class="action">
        <button type="submit">Submit</button>
    </mat-dialog-actions>
</form>